extends ../layout 

block content 
	section.content-header
		.container-fluid
			.row.mb-2
				.col-sm-6
					h1 #{title}
	section.content
		.container-fluid
			.row
				.col-12
					.card
						.card-body
							button.btn.btn-primary.btn-add(data-toggle="modal" data-target="#addDetailModal", type="button") 
								i.fas.fa-plus(style = "margin-right: 5px")
								| Thêm mới 
							button.btn.btn-primary.btn-add(data-toggle="modal" data-target="#FilterModal", type="button", style = "margin-left: 10px") 
								i.fas.fa-filter(style = "margin-right: 5px")
								| Bộ lọc
							table#tab-groupclass.table.table-bordered.table-striped
								thead
									tr
										th Tên tổ
										th Tên Nhóm
										th Tên môn
										th Giờ bắt đầu
										th Giờ kết thúc
										th Giảng viên
										th Thao tác
								tbody
									each subject in subjectList 
										tr 
											td=subject.classID
											td=subject.groupID
											td=subject.subjectName
											td=subject.startTime
											td=subject.endTime
											td=subject.fullName
											td.text-center
												button.btn-edit(style="margin-right: 5px; border:none", 
												data-subjectid = subject.subjectID
												data-classid = subject.classID,
												data-groupid = subject.groupID,
												data-subjectname = subject.subjectName, 
												data-start = subject.startTime, 
												data-end = subject.endTime, 
												data-fullname = subject.fullName, 
												)
													i.fas.fa-edit(style="color:blue")
												button.btn-delete(style="margin-right: 5px; border:none",
												data-subjectid = subject.subjectID,
												data-classid = subject.classID,
												data-groupid = subject.groupID
												)
													i(style ='color: red').fas.fa-trash 
							#FilterModal.modal.fade( role='dialog' aria-labelledby='addFacultyModal' aria-hidden='true')
								.modal-dialog(role='document')
									.modal-content
										.modal-header
											h5.modal-title Tìm kiếm nâng cao
											button.close(type='button' data-dismiss='modal' aria-label='Close')
												span(aria-hidden='true') &times;
										form#form-add-subject(action="/study/groupclass/search", method="post")
											.modal-body
												.row
													.col-12
														.form-group
															label Môn học
															select#sel-subject.form-control.select2(name="subjectID", style="width: 100%;")
																each subject in allsubject 
																	option(value=subject.subjectID)=subject.subjectName
														.form-group
															input(type="hidden", name="year", value = year)
														.form-group
															input(type="hidden", name="semester", value = semester)
												.row
													.col-6
														.form-group
															label Tên tổ
															input.form-control(type='text' placeholder='Tên tổ' name='classID')
													.col-6
														.form-group
															label Tên nhóm
															input.form-control(type='text' placeholder='Tên nhóm' name='groupID')
												.row 
													.col-6
														.form-group
															label Giờ bắt đầu
															input.form-control(type='time' placeholder='Giớ bắt đầu' name='startTime')
													.col-6
														.form-group
															label Giờ kết thúc
															input.form-control(type='time' placeholder='Giờ kết thúc' name='endTime')
												.row 
													.col-12
														.form-group
															label Giảng viên
															select#sel-teacher1.form-control.select2(name="MSGV", style="width: 100%;")
																each teacher in teacherList 
																	option(value=teacher.MSGV)=teacher.fullName + '-' + teacher.MSGV
											.modal-footer
												button.btn.btn-primary.btn-lg(type='submit') 
													| Lọc 
													i.fas.fa-search(style = "margin-left: 5px")

							#addDetailModal.modal.fade( role='dialog' aria-labelledby='addFacultyModal' aria-hidden='true')
								.modal-dialog(role='document')
									.modal-content
										.modal-header
											h5.modal-title Thêm mới
											button.close(type='button' data-dismiss='modal' aria-label='Close')
												span(aria-hidden='true') &times;
										form#form-add-subject(action="/study/groupclass/add", method="post")
											.modal-body
												.row
													.col-12
														.form-group
															label Môn học
															select#sel-subject.form-control.select2(name="subjectID", style="width: 100%;")
																each subject in allsubject 
																	option(value=subject.subjectID)=subject.subjectName
														.form-group
															input(type="hidden", name="year", value = year)
														.form-group
															input(type="hidden", name="semester", value = semester)
												.row
													.col-6
														.form-group
															label Tên tổ
															input.form-control(type='text' placeholder='Tên tổ' name='classID')
													.col-6
														.form-group
															label Tên nhóm
															input.form-control(type='text' placeholder='Tên nhóm' name='groupID')
												.row 
													.col-6
														.form-group
															label Giờ bắt đầu
															input.form-control(type='time' placeholder='Giớ bắt đầu' name='startTime')
													.col-6
														.form-group
															label Giờ kết thúc
															input.form-control(type='time' placeholder='Giờ kết thúc' name='endTime')
												.row 
													.col-12
														.form-group
															label Giảng viên
															select#sel-teacher1.form-control.select2(name="MSGV", style="width: 100%;")
																each teacher in teacherList 
																	option(value=teacher.MSGV)=teacher.fullName + '-' + teacher.MSGV
											.modal-footer
												button.btn.btn-secondary(type='button' data-dismiss='modal') Đóng lại
												button.btn.btn-primary(type='submit') Thêm mới
							
							#editDetailModal.modal.fade( role='dialog' aria-labelledby='editSubjectModal' aria-hidden='true')
										.modal-dialog(role='document')
											.modal-content
												.modal-header
													h5.modal-title Chỉnh sửa thông tin nhóm lớp
													button.close(type='button' data-dismiss='modal' aria-label='Close')
														span(aria-hidden='true') &times;
												form(action="/study/subject/edit", method="post")
													.modal-body
														.row 
															.col-12
															.form-group
																input(type="hidden", name="subjectID")
													
															.form-group
																input(type="hidden", name="year", value = year)
															.form-group
																input(type="hidden", name="semester", value = semester)
														.row 
															.col-3
																.form-group
																	label Tên tổ
																	input.form-control(type='text', placeholder='Tên môn', name='classID')
															.col-3
																.form-group
																	label Tên nhóm
																	input.form-control(type='text', placeholder='Tín chỉ', name='groupID')
															.col-6
																.form-group
																	label Tên môn
																	input.form-control(type='text', placeholder='HS thi', name='subjectName')
														.row 
															.col-6
																.form-group
																	label Giờ bắt đầu
																	input.form-control(type='time', placeholder='HS BTL', name='startTime')
															.col-6
																.form-group
																	label Giờ kết thúc
																	input.form-control(type='time', placeholder='HS lab', name='endTime')
														.form-group
														label Giảng viên
														select#sel-teacher2.form-control.select2(name="MSGV", style="width: 100%;")
															each teacher in teacherList 
																option(value=teacher.MSGV)=teacher.fullName + '-' + teacher.MSGV
													.modal-footer
														button.btn.btn-secondary(type='button' data-dismiss='modal') Đóng lại
														button.btn.btn-primary(type='submit') Cập nhật

							#deleteDetailModal.modal.fade( role='dialog' aria-labelledby='deleteFacultyModal' aria-hidden='true')
								.modal-dialog(role='document')
									.modal-content.bg-danger
										.modal-header
											h5.modal-title Xóa
											button.close(type='button' data-dismiss='modal' aria-label='Close')
												span(aria-hidden='true') &times;
										form(action="/study/subject/delete", method="post")
											.modal-body
												input(type="hidden", name="subjectID")
												input(type="hidden", name="classID")
												input(type="hidden", name="groupID")
												p Bạn có chắc chắn muốn xóa môn này không ?
												| Lưu ý: Mọi thông tin liên quan tới nhóm tổ này sẽ bị xóa
											.modal-footer
												button.btn.btn-outline-light(type='button' data-dismiss='modal') Đóng lại
												button.btn.btn-outline-light(type='submit') Xác nhận
block style 
	link(rel="stylesheet", href="/plugins/select2/css/select2.min.css")
	link(rel="stylesheet", href="/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css")

block script 
	script(src="/plugins/select2/js/select2.full.min.js")
	script(src="/javascripts/study/groupclass.js") 
	script(src="/javascripts/study/detail.js") 